<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Oras</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p class="text-light">
        Nume oras:
        @(Html.Kendo().TextBox()
            .Name("inputCityNameFilter")
            .HtmlAttributes(new { id = "inputTextbox", type = "textbox" })
        )

        Nume judet:
        @(Html.Kendo().ComboBox()
                  .Name("countyFilter")
                  .DataTextField("CountyName")
                  .DataValueField("CountyId")
                  .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("cmbCounty", "DictionaryCity");
                      });
                  })
                  .HtmlAttributes(new { id = "cmbCountyFilter"/*, style = "width: 100%" */})
        )



        @(Html.Kendo().Button()
                .Name("iconTextButton")
                .Tag("a")
                .Icon("filter")
                .Content("Filtreaza")
                .HtmlAttributes(new { id = "btnFilter", type = "button" })
                .Events(e => e.Click("refresh"))
        )

        @(Html.Kendo().Button()
                .Name("kendoIconTextButton")
                .Tag("a")
                .Icon("filter-clear")
                .Content("Sterge filtru")
                .HtmlAttributes(new { id = "btnResetFilter", type = "button" })
                .Events(e => e.Click("removeFilter"))
        )
    </p>
    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryCity>
        ()
        .Name("CityGrid")
        .Pageable()
        .Columns(columns =>
        {
        columns.Bound(c => c.CityId).Hidden();
        columns.Bound(c => c.CityName).Title("Oras");
        columns.Bound(c => c.CountyId).Hidden();
        columns.Bound(c => c.County.CountyName).Title("Judet");
        columns.Template("<a  class='k-button' href='/DictionaryCity/CityAdd?Id=#=CityId# '> Editeaza </a>").Width(150);
        columns.Command(command => { command.Destroy().Text("Sterge").HtmlAttributes(new { @class = "k-primary" }); }).Width(150);
        })
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.InLine);
            editable.DisplayDeleteConfirmation("Sunteti sigur ca doriti stergerea inregistrarii?");
        })
        .HtmlAttributes(new { id = "cityGrid", style = "height: 550px;" })
        .Scrollable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.CityId))
        .Read(read => read.Action("City_Read", "DictionaryCity").Data("getFilter"))
        .Destroy(destroy => destroy.Action("City_Destroy", "DictionaryCity"))
        .PageSize(20)
        )
    )
<script>

    getFilter = function () {
        var model = {};
        model["txtboxCityName"] = $("#inputTextbox").val();
        model["cmbboxCountyName"] = $("#cmbCountyFilter").val();
        return model;
    }

    removeFilter = function () {
        $("#inputTextbox").val("");
        $("#cmbCountyFilter").data("kendoComboBox").value("");
        refresh();
    }

    refresh = function () {
        $("#cityGrid").data("kendoGrid").dataSource.read();
        $("#cityGrid").data("kendoGrid").dataSource.page(1);
    }

    saveChanges = function () {
        grid = $("#CityGrid").data("kendoGrid");
        grid.removeRow($(element).closest("tr"));
        grid.dataSource.sync();
    }

</script>
    <p align="right"> <a href='/DictionaryCity/CityAdd?Id=0' class="k-button k-primary">Adauga oras</a></p>
</body>
</html>
