@model IEnumerable<iWasHere.Domain.Models.Landmark>

@{
    ViewData["Title"] = "Detaliu obiectiv";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalii atractie</title>
    <style>
        .header {
            display: inline-block;
            font-weight: bold;
        }

        #listaObiective {
            text-align: justify;
            list-style-type: none;
            font-size: 15px;
        }

        .test {
            background-color: red;
            position: absolute;
            right: 0%;
        }

        [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        }

/* IMAGE STYLES */
        [type=radio] + img {
          cursor: pointer;
        }

/* CHECKED STYLES */
        [type=radio]:checked + img {
          outline: 2px solid #f00;
        }
        #zoomStar {padding:5px;}

        #zoomStar:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
        }
            
    </style>
</head>
<body>
    <table>
        <tr>
            <td>


                <ul id="listaObiective">
                    <li class="text-light">LOC PENTRU IMAGINE</li>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <li class="listaObiectiveLI text-light">
                    <label class="header">Nume obiectiv:</label>
                    @(Html.Kendo().TextBox()
                    .Name("landmarkName")
                    .HtmlAttributes(new { id = "landmarkName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                    )
                </li>
            </td>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Scurta descriere: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("shortDesc")
                .HtmlAttributes(new { id = "shortDesc", type = "textbox", maxlength = "500", @readonly = "readonly" })
                )
                </li>
            </td>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Tipul de obiectiv: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("landmarkTypeName")
                .HtmlAttributes(new { id = "landmarkTypeName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
            </td>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Codul obiectivului: </label></td><td>
                    @(Html.Kendo().TextBox()
                    .Name("landmarkTypeCode")
                    .HtmlAttributes(new { id = "landmarkTypeCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
                    )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Tara: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("countryName")
                .HtmlAttributes(new { id = "countryName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Judet: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("countyName")
                .HtmlAttributes(new { id = "countyName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Oras: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("cityName")
                .HtmlAttributes(new { id = "cityName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Program: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("availabilityName")
                .HtmlAttributes(new { id = "availabilityName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                /
                @(Html.Kendo().TextBox()
                .Name("availabilitySchedule")
                .HtmlAttributes(new { id = "availabilitySchedule", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Tipul biletului: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("ticketName")
                .HtmlAttributes(new { id = "ticketName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Cod bilet: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("ticketCode")
                .HtmlAttributes(new { id = "ticketCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Moneda: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("currencyName")
                .HtmlAttributes(new { id = "currencyName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Pretul biletului: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("ticketPrice")
                .HtmlAttributes(new { id = "ticketPrice", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )

                @(Html.Kendo().TextBox()
                .Name("currencyCode")
                .HtmlAttributes(new { id = "currencyCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Pret in lei: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("currencyRate")
                .HtmlAttributes(new { id = "currencyRate", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Data adaugarii: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("dateAdded")
                .HtmlAttributes(new { id = "dateAdded", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Coordonate GPS(lat;long): </label>
            </td>
            <td>
                
                @(Html.Kendo().TextBox()
                .Name("latitude")
                .HtmlAttributes(new { id = "latitude", type = "textbox", maxlength = "100", @readonly = "readonly" })
                );
                @(Html.Kendo().TextBox()
                .Name("longitude")
                .HtmlAttributes(new { id = "longitude", type = "textbox", maxlength = "100", @readonly = "readonly" })
                ))
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Tipul atractiei: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("attractionName")
                .HtmlAttributes(new { id = "attractionName", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>
        </tr>
        <tr>
            <td>
                <li class="listaObiectiveLI text-light">
                    <label class="header">Codul atractiei: </label>
            </td>
            <td>
                @(Html.Kendo().TextBox()
                .Name("attractionCode")
                .HtmlAttributes(new { id = "attractionCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
                )
                </li>

            </td>
        </tr>
    </table>
   
    <div id="googleMap" style="width:50%;height:400px;" class="map-container"></div>
    


    <script>



        var map;



        var markers = [];



        function myMap() {



            var startLatLng = { lat: 44.4894, lng: 26.1267 };



            map = new google.maps.Map(document.getElementById('googleMap'), {



                zoom: 12,



                center: startLatLng,






            });










            map.addListener('click', function (event) {



                clearMarkers();



                addMarker(event.latLng);



                document.getElementById("Latitude").value = event.latLng.lat();



                document.getElementById("Longitude").value = event.latLng.lng();



            });










            addMarker(startLatLng);



        }










        function addMarker(location) {



            var marker = new google.maps.Marker({



                position: location,



                map: map



            });



            markers.push(marker);



        }










        function setMapOnAll(map) {



            for (var i = 0; i < markers.length; i++) {



                markers[i].setMap(map);



            }



        }










        function clearMarkers() {



            setMapOnAll(null);



        }










        function showMarkers() {



            setMapOnAll(map);



        }










        function deleteMarkers() {



            clearMarkers();



            markers = [];



        }






    </script>







    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUUUUB62VO2kljdA7ooXvr5T90EMtg9Rg&callback=myMap"></script>







    <style>



        .map-container {
            position: absolute;
            bottom: 20%;
            right: 10%;
        }
    </style>
    </ul>

    <p align="right"> <a href='/Landmark/LandmarkComment?Id=#=LandmarkId#' class="k-button k-primary">Adauga comentariu</a></p>
    <br />
    @(Html.Kendo().TextBox()
            .Name("textboxUserName")
            .HtmlAttributes(new { id = "textboxUserName", type = "textbox", maxlength = "900",@readonly="readonly" })
    )

    <br /><br /><label>Cu user-ul logat</label>
    @(Html.Kendo().CheckBox()
            .Name("checkboxUserName")
            .Checked(false)
            .HtmlAttributes(new { id = "checkboxUserName", onclick = "checkUser()" })
    )

    <form>
        <fieldset class="rating">
            <label class="full" for="rating1"><img id="zoomStar" style="width:45px;" src="~/images/radioStar.png" /><input type="radio" id="rating1" name="ratingR" onclick="optionSelected(this);" value="1" /></label>
            <label class="full" for="rating2"><img id="zoomStar" style="width:45px;" src="~/images/radioStar.png" /><input type="radio" id="rating2" name="ratingR" onclick="optionSelected(this);" value="2" /></label>
            <label class="full" for="rating3"><img id="zoomStar" style="width:45px;" src="~/images/radioStar.png" /><input type="radio" id="rating3" name="ratingR" onclick="optionSelected(this);" value="3" /></label>
            <label class="full" for="rating4"><img id="zoomStar" style="width:45px;" src="~/images/radioStar.png" /><input type="radio" id="rating4" name="ratingR" onclick="optionSelected(this);" value="4" /></label>
            <label class="full" for="rating5"><img id="zoomStar" style="width:45px;" src="~/images/radioStar.png" /><input type="radio" id="rating5" name="ratingR" onclick="optionSelected(this);" value="5" /></label>
        </fieldset>
    </form>

    </li>

    <li>
        <label>Comentariul:</label>
        @Html.TextArea("textarea", "", new { @class = "k-textbox", style = "width: 100%;", maxlength = "800", id = "textAreaComment" })

        <br /><br />
        <button type="button" id="btnAddComm" class="k-button" onclick="addComment()">Adauga comentariu</button>
        <br /><hr /><h2>Comentarii anterioare</h2>
        <table>
            <tr>
                <td>Comentariul:</td>
                <td>Data comentariului</td>
                <td>Evaluarea /5</td>
                <td>Comentariu adaugat de:</td>
            </tr>
            @foreach (var currentLandmark in Model)
            {
                @if (currentLandmark.LandmarkRating != null)
                {
                    @foreach (var comm in currentLandmark.LandmarkRating)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => comm.CommentDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => comm.ComentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => comm.RatingValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => comm.User.UserName)
                            </td>
                        </tr>
                    }
                }
            }
        </table>

        </ul>
        <script>

            var currentURL = window.location.href;
            var url = new URL(currentURL);
            var modelId = url.searchParams.get("Id");
            var checkbox = document.getElementById("checkboxUserName");
            checkUser = function () {
                if (checkbox.checked == true) {
                        document.getElementById("textboxUserName").value = "";//data.responseJSON.Username;
                }
                else
                {
                        document.getElementById("textboxUserName").value = "fdeb855e - bd3e - 4a3a - 8466 - 8e3f61fdc1b2";
                }
            }

            var data = $.ajax({
                type: 'GET',
                url: '/Landmark/GetLandmarkById',
                data: { landmarkId: modelId },
                cache: false,
                success: function (result) {
                    if (data.responseJSON == null) {
                        alert("Inregistrare nu a fost gasita in baza de date");
                        window.location.href = "/Landmark/Landmark";
                    }
                    else {
                        document.getElementById("landmarkName").value = data.responseJSON.LandmarkName;
                        document.getElementById("shortDesc").value = data.responseJSON.LandmarkShortDescription;
                        document.getElementById("landmarkTypeName").value = data.responseJSON.LandmarkTypeName;
                        document.getElementById("landmarkTypeCode").value = data.responseJSON.LandmarkTypeCode;
                        document.getElementById("countryName").value = data.responseJSON.CountryName;
                        document.getElementById("countyName").value = data.responseJSON.CountyName;
                        document.getElementById("cityName").value = data.responseJSON.CityName;
                        document.getElementById("availabilityName").value = data.responseJSON.AvailabilityName;
                        document.getElementById("availabilitySchedule").value = data.responseJSON.AvailabilitySchedule;
                        document.getElementById("ticketName").value = data.responseJSON.TicketName;
                        document.getElementById("ticketCode").value = data.responseJSON.TicketCode;
                        if (data.responseJSON.TicketPrice == -1)
                            document.getElementById("ticketPrice").value = "NECOMPLETAT";
                        else
                            document.getElementById("ticketPrice").value = data.responseJSON.TicketPrice;
                        if (data.responseJSON.CurrencyRate == -1)
                            document.getElementById("currencyRate").value = "NECOMPLETAT";
                        else
                            document.getElementById("currencyRate").value = data.responseJSON.CurrencyRate;
                        document.getElementById("dateAdded").value = data.responseJSON.DateAdded;
                        document.getElementById("latitude").value = data.responseJSON.Latitude;
                        document.getElementById("longitude").value = data.responseJSON.Longitude;
                        document.getElementById("attractionName").value = data.responseJSON.AttractionName;
                        document.getElementById("attractionCode").value = data.responseJSON.AttractionCode;
                        document.getElementById("currencyName").value = data.responseJSON.CurrencyName;
                        document.getElementById("currencyCode").value = data.responseJSON.CurrencyCode;


                        var checkbox = document.getElementById("checkboxUserName");
                        if (checkbox.checked == true) {
                            document.getElementById("textboxUserName").value = "";//data.responseJSON.Username;
                        }
                        else {
                            document.getElementById("textboxUserName").value = "fdeb855e - bd3e - 4a3a - 8466 - 8e3f61fdc1b2";
                        }

                    }
                    return result;
                }
            });

            var ratingValueInput = 0;
            function optionSelected(option) {
                ratingValueInput = option.value;
            }

            addComment = function () {
                var modelId = url.searchParams.get("Id");
                var userid = "fdeb855e-bd3e-4a3a-8466-8e3f61fdc1b2";//document.getElementById("textBoxUserName").value;
                var commenttext = document.getElementById("textAreaComment").value;
                var commentdate = new Date();//data curenta
                var ratingvalue = ratingValueInput;
                /*alert(modelId);
                alert(userid);
                alert(commenttext);
                alert(commentdate);
                alert(ratingvalue);*/
                $.ajax({
                    type: 'POST',
                    url: '/Landmark/AddComment',
                    data: { landmarkId: modelId, userid: userid, commenttext: commenttext, commentdate: commentdate, ratingvalue: ratingvalue },
                    cache: false,
                    success: function (result) {
                        alert("Comentariu adaugat. \nIn 2 secunde se v-a efectua un refresh la pagina."); return result;
                    }
                })
                setTimeout("location.reload(true);", 2000);
                //window.location.href = "/Landmark/LandmarkViewDetails?Id="+modelId;
            }

        </script>
</body>
</html>
