<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-xl-5 col-sm-10 offset-sm-3">
        <div class="card">
            <div class="card-block">
                <form class="k-form">
                    <!--#region tabel informatii obiectiv -->
                    <fieldset>
                        <h4> <p id="LandmarkAddTitle">Adaugare obiectiv nou</p></h4>
                        <table align="center">
                            <tr>
                                <td>
                                    <span>Numele atractiei : </span>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                        .Name("inputLandmarkName")
                                        .HtmlAttributes(new { id = "textBoxLandmarkName", type = "textbox", maxlength = "100" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>  <span>Descrierea atractiei : </span></td>
                                <td>
                                    @Html.TextArea("textarea", "", new { @class = "k-textbox", style = "width: 100%;", maxlength = "100", id = "textAreaLandmarkShortDesc" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"> 
                                    <div class="box">
                                        <p><b>Incarcare Imagine</b></p>
                                       
                                            @*The Upload is able to upload files out-of-band using the
                                            HTML5 File API with fallback for legacy browsers.
                                        
                                            You need to configure save action that will receive
                                            the uploaded files.
                                            An optional remove action is also available.*@
                                    </div>
                                    <div class="demo-section k-content">
                                        @(Html.Kendo().Upload()
                                            .Name("files")
                                            .Async(a => a
                                                .Save("Async_Save", "Upload")
                                                .Remove("Async_Remove", "Upload")
                                                //.AutoUpload(false)
                                            )
                                        )
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.Kendo().CheckBox()
                                           .Name("eq1")
                                           .Checked(true)
                                           .Label("Cu bilet de intrare")
                                           .HtmlAttributes(new { id = "checkTicket", onclick = "myFunction()" })
                                    )
                                </td>
                            </tr>
                            <tr id="trTicketCost1">
                                <td>
                                    <p>Costul biletului de acces: </p>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                    .Name("inputLandmarkName")
                                    .HtmlAttributes(new { id = "textBoxTicketCost", type = "textbox", maxlength = "100" })
                                    )
                                </td>
                            </tr>
                            <tr id="trTicketCost2">
                                <td>
                                    <p>Tip de valuta</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("cmbCurrency")
                                              .DataTextField("CurrencyName")
                                              .DataValueField("CurrencyId")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbCurrency", "Landmark");
                                                  });
                                              })
                                              .SelectedIndex(1)
                                              .HtmlAttributes(new { id = "cmbCurrency" })
                                    )
                                </td>
                            </tr>
                            <tr id="trTicketCost3">
                                <td>
                                    <p>Tip de bilet</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("TicketType")
                                              .DataTextField("TicketName")
                                              .DataValueField("TicketTypeId")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbTicketType", "Ticket");
                                                  });
                                              })
                                               .SelectedIndex(1)
                                              .HtmlAttributes(new { id = "cmbTicketType"/*, style = "width: 100%" */} )

                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Tip de atractie:</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("landmarkDetailFilter")
                                              .DataTextField("ItemName")
                                              .DataValueField("ItemId")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbLandmarkDetail", "Landmark");
                                                  });
                                              })
                                              .SelectedIndex(1)
                                              .HtmlAttributes(new { id = "cmbLandmarkDetail"/*, style = "width: 100%" */})
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Tip zona de atractie</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("attractionfilter")
                                              .DataTextField("AttractionName")
                                              .DataValueField("AttractionTypeId")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbAttraction", "Landmark");
                                                  });
                                              })
                                              .SelectedIndex(1)
                                              .HtmlAttributes(new { id = "cmbAttraction"})
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Interval vizitare:</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("availabilityFilter")
                                              .DataTextField("AvailabilityName")
                                              .DataValueField("AvailabilityId")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbAvailability", "Landmark");
                                                  });
                                              })
                                               .SelectedIndex(1)
                                               .HtmlAttributes(new { id = "cmbAvailability"/*, style = "width: 100%" */})
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Tara :</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                            .Name("countryFilter")
                                            .DataTextField("CountryName")
                                            .DataValueField("CountryId")
                                           .DataSource(source =>
                                               {
                                                   source.Read(read =>
                                                   {
                                                       read.Action("cmbCountry", "DictionaryCounty");
                                               });
                                           })
                                           .SelectedIndex(1)
                                           .HtmlAttributes(new { id = "cmbCountyFilter23"/*, style = "width: 100%" */})
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Judet :</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                           .Name("countyFilter")
                                           .DataTextField("CountyName")
                                           .DataValueField("CountyId")
                                           .DataSource(source =>
                                               {
                                                   source.Read(read =>
                                                   {
                                                       read.Action("cmbCounty", "DictionaryCity");
                                               });
                                           })
                                            .SelectedIndex(1)
                                           .HtmlAttributes(new { id = "cmbCountyFilter23y"/*, style = "width: 100%" */})
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Oras :</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                           .Name("cityFilter")
                                           .DataTextField("CityName")
                                           .DataValueField("CityId")
                                           .DataSource(source =>
                                               {
                                                   source.Read(read =>
                                                   {
                                                       read.Action("CmbCity", "Landmark");
                                               });
                                           })
                                            .SelectedIndex(1)
                                           .HtmlAttributes(new { id = "cmbCity"/*, style = "width: 100%" */})
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Longitudine</p>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                            .Name("inputLandmarkName")
                                            .HtmlAttributes(new { id = "textBoxLong", type = "textbox", maxlength = "100" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Latitudine </p>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                            .Name("inputLandmarkName")
                                            .HtmlAttributes(new { id = "textBoxLat", type = "textbox", maxlength = "100" })
                                    )
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <!--#endregion -->
                    <div class="text-right">
                        <br />
                        <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                        <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction()">Salveaza</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var currentURL = window.location.href;
    var url = new URL(currentURL);
    var landmarkId = url.searchParams.get("Id");
    if (landmarkId == 0) {
        document.getElementById("LandmarkAddTitle").innerHTML = "<b> Adauga un nou  obiectiv</b>";//pageTitle

    } else {
        document.getElementById("LandmarkAddTitle").innerHTML = "<b>Editeaza obiectiv</b>";
    }
    function myFunction() {
      // Get the checkbox
      var checkBox = document.getElementById("checkTicket");
      //  var textBoxTicketCost = document.getElementById("textBoxTicketCost");
  
        if (checkBox.checked == false)
        {
          document.getElementById("textBoxTicketCost").value = "";
          document.getElementById("trTicketCost1").style.visibility = "hidden";
          document.getElementById("trTicketCost1").style.position = "absolute";
          document.getElementById("trTicketCost2").style.visibility = "hidden";
          document.getElementById("trTicketCost2").style.position = "absolute";
          document.getElementById("trTicketCost3").style.visibility = "hidden";
          document.getElementById("trTicketCost3").style.position = "absolute";
        } else
        {
          document.getElementById("trTicketCost1").style.visibility = "visible";
          document.getElementById("trTicketCost1").style.position = "static";
          document.getElementById("trTicketCost2").style.visibility = "visible";
          document.getElementById("trTicketCost2").style.position = "static";
          document.getElementById("trTicketCost3").style.visibility = "visible";
          document.getElementById("trTicketCost3").style.position = "static";
      }
}
    function cancel() {
                 window.location.href = "/Landmark/Landmark";
            }
    //function editFunction() {
    //    alert("Obiectiv salvat cu succes!");
    //             window.location.href = "/Landmark/Landmark";
    //}
    
            function editFunction() { 
				lname = document.getElementById('textBoxLandmarkName').value;
                ldesc = document.getElementById('textAreaLandmarkShortDesc').value;
                tprice = document.getElementById('textBoxTicketCost').value;
                tcurrencyid = document.getElementById('cmbCurrency').value;
			    ttickettypeid = document.getElementById('cmbTicketType').value;
                lditemid = document.getElementById('cmbLandmarkDetail').value;
                ldattractionid = document.getElementById('cmbAttraction').value;
				ldavailabilty = document.getElementById('cmbAvailability').value;
                llong = document.getElementById('textBoxLong').value;
                llat = document.getElementById('textBoxLat').value;
                ldcity = document.getElementById('cmbCity').value;
                if (lname == "" || ldesc == "" || llat=="" || llong=="") {
                    alert("Campuri necompletate!");
                } else {
                            $.ajax({
                                type: 'POST',
                                url: '/Landmark/AddNewLandmark',
                                data: {landmarkName: lname, LandmarkShortDescription: ldesc, ticketPrice: tprice , currencyId: tcurrencyid, ticketTypeId: ttickettypeid,  dictionaryItemId: lditemid, dictionaryAttractionTypeId: ldattractionid,  dictionaryAvailability: ldavailabilty, cityId: ldcity,  longit: llong,  lat:llat},
                                cache: false,
                                success: function (result) {
                                    alert("Adaugat cu Success"); return result;
                                }
                            })
                            alert("Obiectiv salvat cu succes!");
                            window.location.href = "/Landmark/Landmark";

                }
            }


  </script>