@model IEnumerable<iWasHere.Domain.Models.Landmark>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalii atractie</title>
    <style> 
         .header{
            display:inline-block;
            font-weight:bold;
        }    
         #listaObiective {
           text-align:justify;
            list-style-type:none;
            font-size:15px;
        }
         .test {background-color:red;position:absolute;right:0%;}
    </style>
</head>
<body>
    <ul id="listaObiective">
        <li>LOC PENTRU IMAGINE</li>
        <li class="listaObiectiveLI">
            <label class="header">Nume obiectiv:</label>
            @(Html.Kendo().TextBox()
            .Name("landmarkName")
            .HtmlAttributes(new { id = "landmarkName", type = "textbox", maxlength = "100", @readonly = "readonly"})
            )
        </li>

        <li class="listaObiectiveLI">
            <label class="header">Scurta descriere: </label>
            @(Html.Kendo().TextBox()
            .Name("shortDesc")
            .HtmlAttributes(new { id = "shortDesc", type = "textbox", maxlength = "500", @readonly = "readonly"})
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Tipul de obiectiv: </label>
            @(Html.Kendo().TextBox()
            .Name("landmarkTypeName")
            .HtmlAttributes(new { id = "landmarkTypeName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Codul obiectivului: </label>
            @(Html.Kendo().TextBox()
            .Name("landmarkTypeCode")
            .HtmlAttributes(new { id = "landmarkTypeCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Tara: </label>
            @(Html.Kendo().TextBox()
            .Name("countryName")
            .HtmlAttributes(new { id = "countryName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Judet: </label>
            @(Html.Kendo().TextBox()
            .Name("countyName")
            .HtmlAttributes(new { id = "countyName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Oras: </label>
            @(Html.Kendo().TextBox()
            .Name("cityName")
            .HtmlAttributes(new { id = "cityName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Program: </label>
            @(Html.Kendo().TextBox()
            .Name("availabilityName")
            .HtmlAttributes(new { id = "availabilityName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
            /
            @(Html.Kendo().TextBox()
            .Name("availabilitySchedule")
            .HtmlAttributes(new { id = "availabilitySchedule", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Tipul biletului: </label>
            @(Html.Kendo().TextBox()
            .Name("ticketName")
            .HtmlAttributes(new { id = "ticketName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Cod bilet: </label>
            @(Html.Kendo().TextBox()
            .Name("ticketCode")
            .HtmlAttributes(new { id = "ticketCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Moneda: </label>
            @(Html.Kendo().TextBox()
            .Name("currencyName")
            .HtmlAttributes(new { id = "currencyName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Pretul biletului: </label>
            @(Html.Kendo().TextBox()
            .Name("ticketPrice")
            .HtmlAttributes(new { id = "ticketPrice", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )

            @(Html.Kendo().TextBox()
            .Name("currencyCode")
            .HtmlAttributes(new { id = "currencyCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Pret in lei: </label>
            @(Html.Kendo().TextBox()
            .Name("currencyRate")
            .HtmlAttributes(new { id = "currencyRate", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Data adaugarii: </label>
            @(Html.Kendo().TextBox()
            .Name("dateAdded")
            .HtmlAttributes(new { id = "dateAdded", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Coordonate GPS(lat;long): </label>(
            @(Html.Kendo().TextBox()
            .Name("latitude")
            .HtmlAttributes(new { id = "latitude", type = "textbox", maxlength = "100", @readonly = "readonly" })
            );
            @(Html.Kendo().TextBox()
            .Name("longitude")
            .HtmlAttributes(new { id = "longitude", type = "textbox", maxlength = "100", @readonly = "readonly" })
            ))
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Tipul atractiei: </label>
            @(Html.Kendo().TextBox()
            .Name("attractionName")
            .HtmlAttributes(new { id = "attractionName", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>
        <li class="listaObiectiveLI">
            <label class="header">Codul atractiei: </label>
            @(Html.Kendo().TextBox()
            .Name("attractionCode")
            .HtmlAttributes(new { id = "attractionCode", type = "textbox", maxlength = "100", @readonly = "readonly" })
            )
        </li>

    </ul>

    <p align="right"> <a href='/Landmark/LandmarkComment?Id=#=LandmarkId#' class="k-button k-primary">Adauga comentariu</a></p>
    <br />
    @(Html.Kendo().TextBox()
            .Name("comment")
            .HtmlAttributes(new { id = "textboxcomment", type = "textbox", maxlength = "900" })
    )

    <script>

        var currentURL = window.location.href;
        var url = new URL(currentURL);
        var modelId = url.searchParams.get("Id");

        var data = $.ajax({
            type: 'GET',
            url: '/Landmark/GetLandmarkById',
            data: { landmarkId: modelId },
            cache: false,
            success: function (result) {
                if (data.responseJSON == null) {
                    alert("Inregistrare nu a fost gasita in baza de date");
                    window.location.href = "/Landmark/Landmark";
                }
                else {
                    document.getElementById("landmarkName").value = data.responseJSON.LandmarkName;
                    document.getElementById("shortDesc").value = data.responseJSON.LandmarkShortDescription;
                    document.getElementById("landmarkTypeName").value = data.responseJSON.LandmarkTypeName;
                    document.getElementById("landmarkTypeCode").value = data.responseJSON.LandmarkTypeCode;
                    document.getElementById("countryName").value = data.responseJSON.CountryName;
                    document.getElementById("countyName").value = data.responseJSON.CountyName;
                    document.getElementById("cityName").value = data.responseJSON.CityName;
                    document.getElementById("availabilityName").value = data.responseJSON.AvailabilityName;
                    document.getElementById("availabilitySchedule").value = data.responseJSON.AvailabilitySchedule;
                    document.getElementById("ticketName").value = data.responseJSON.TicketName;
                    document.getElementById("ticketCode").value = data.responseJSON.TicketCode;
                    if (data.responseJSON.TicketPrice == -1)
                        document.getElementById("ticketPrice").value = "NECOMPLETAT";
                    else
                        document.getElementById("ticketPrice").value = data.responseJSON.TicketPrice;
                    if(data.responseJSON.CurrencyRate ==-1)
                        document.getElementById("currencyRate").value = "NECOMPLETAT";
                    else
                        document.getElementById("currencyRate").value = data.responseJSON.CurrencyRate;
                    document.getElementById("dateAdded").value = data.responseJSON.DateAdded;
                    document.getElementById("latitude").value = data.responseJSON.Latitude;
                    document.getElementById("longitude").value = data.responseJSON.Longitude;
                    document.getElementById("attractionName").value = data.responseJSON.AttractionName;
                    document.getElementById("attractionCode").value = data.responseJSON.AttractionCode;
                    document.getElementById("currencyName").value = data.responseJSON.CurrencyName;
                    document.getElementById("currencyCode").value = data.responseJSON.CurrencyCode;
                }
                return result;
            }
        });

    </script>
</body>
</html>
