<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-xl-7 col-sm-10 offset-sm-3">
        <div class="card">
            <div class="card-block">
                <form class="k-form">
                    <!--#region tabel informatii obiectiv -->
                    <fieldset>
                        <h4> <p id="LandmarkAddTitle">Adaugare obiectiv nou</p></h4>
                        <table align="center">
                            <tr>
                                <td>
                                    <span>Numele atractiei : </span>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                        .Name("inputLandmarkName")
                                        .HtmlAttributes(new { id = "textBoxLandmarkName", type = "textbox", maxlength = "100" , style = "width: 100%"  })
                                    )
                                </td>
                              
                            </tr>
                            <tr>
                                <td>  <span>Descrierea atractiei : </span></td>
                                <td colspan="2" align="center">
                                    @Html.TextArea("textarea", "", new { @class = "k-textbox", style = "width: 100%;", maxlength = "100", id = "textAreaLandmarkShortDesc" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <div class="box">
                                        <p><b>Incarcare Imagine</b></p>

                                        @*The Upload is able to upload files out-of-band using the
            HTML5 File API with fallback for legacy browsers.

            You need to configure save action that will receive
            the uploaded files.
            An optional remove action is also available.*@
                                    </div>


                                    <input type="file" name="files" id="files" />
                                    @*<input type="button" value="Upload Selected Files" class="k-button" onclick="uploadSelected()" />*@
                                    
                                    <script>
                                        $("#files").kendoUpload({
                                            async: {
                                                saveUrl: "../Upload/Async_Save",
                                                removeUrl: "../Upload/Async_Remove",
                                                autoUpload: false
                                            }
                                        });

                                        function uploadSelected() {
                                            $(".k-upload-selected").click();
                                        }
                                    </script>

                                    <style>
                                        .k-clear-selected, .k-upload-selected {
                                            display: none !important;
                                        }
                                    </style>



                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.Kendo().CheckBox()
                                           .Name("eq1")
                                           .Checked(true)
                                           .Label("Cu bilet de intrare")
                                           .HtmlAttributes(new { id = "checkTicket", onclick = "myFunction()" })
                                    )
                                </td>
                            </tr>
                            <tr id="trTicketCost1">
                                <td>
                                    <p>Costul biletului de acces: </p>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                    .Name("inputLandmarkName")
                                    .HtmlAttributes(new { id = "textBoxTicketCost", type = "number", maxlength = "100" , style = "width: 100%" })
                                    )
                                </td>
                            </tr>
                            <tr id="trTicketCost2">
                                <td>
                                    <p>Tip de valuta</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("cmbCurrency")
                                              .DataTextField("CurrencyName")
                                              .DataValueField("CurrencyId")
                                              .Placeholder("Selectati tipul de valuta.")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbCurrency", "Landmark");
                                                  });
                                              })
                                             
                                              .HtmlAttributes(new { id = "cmbCurrency", style = "width: 100%" })
                                    )
                                </td>
                            </tr>
                            <tr id="trTicketCost3">
                                <td>
                                    <p>Tip de bilet</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("TicketType")
                                              .DataTextField("TicketName")
                                              .DataValueField("TicketTypeId")
                                              .Placeholder("Selectati tipul de bilet.")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbTicketType", "Ticket");
                                                  });
                                              })
                                              
                                              .HtmlAttributes(new { id = "cmbTicketType", style = "width: 100%" } )

                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Tip de atractie:</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("landmarkDetailFilter")
                                              .DataTextField("ItemName")
                                              .DataValueField("ItemId")
                                              .Placeholder("Selectati tipul de atractie.")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbLandmarkDetail", "Landmark");
                                                  });
                                              })
                                              
                                              .HtmlAttributes(new { id = "cmbLandmarkDetail", style = "width: 100%" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Tip zona de atractie</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("attractionfilter")
                                              .DataTextField("AttractionName")
                                              .DataValueField("AttractionTypeId")
                                              .Placeholder("Selectati tipul de zona.")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbAttraction", "Landmark");
                                                  });
                                              })
                                              
                                              .HtmlAttributes(new { id = "cmbAttraction" , style = "width: 100%" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Interval vizitare:</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                              .Name("availabilityFilter")
                                              .DataTextField("AvailabilityName")
                                              .DataValueField("AvailabilityId")
                                              .Placeholder("Selectati intervalul.")
                                              .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("CmbAvailability", "Landmark");
                                                  });
                                              })
                                               .HtmlAttributes(new { id = "cmbAvailability", style = "width: 100%" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Tara :</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                           .Name("countryFilter")
                                           .DataTextField("CountryName")
                                           .DataValueField("CountryId")
                                           .Placeholder("Selectati tara.")
                                           .DataSource(source =>
                                           {
                                               source.Read(read =>
                                               {
                                                   read.Action("cmbCountry", "DictionaryCounty");
                                               });
                                           })
                                           .HtmlAttributes(new { id = "cmbCountry", style = "width: 100%" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Judet :</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                           .Name("countyFilter")
                                           .DataTextField("CountyName")
                                           .DataValueField("CountyId")
                                           .Placeholder("Selectati judetul.")
                                           .DataSource(source =>
                                               {
                                                   source.Read(read =>
                                                   {
                                                       read.Action("CmbCountyByCountry", "Landmark").Data("filterCounty");

                                               })  .ServerFiltering(true);
                                           })
                                           .Enable(false)
                                           .AutoBind(false)
                                           .NoDataTemplate("Nu s-a gasit nici un judet pentru aceasta tara")
                                           .CascadeFrom("cmbCountry")
                                           .HtmlAttributes(new { id = "cmbCounty", style = "width: 100%" })
                                    )
                                                                        <script>
                                        function filterCounty() {
                                            return {
                                                country: $("#cmbCountry").val()
                                            };
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Oras :</p>
                                </td>
                                <td>
                                    @(Html.Kendo().ComboBox()
                                           .Name("cityFilter")
                                           .DataTextField("CityName")
                                           .DataValueField("CityId")
                                           .Placeholder("Selectati orasul.")
                                           .DataSource(source =>
                                               {
                                                   source.Read(read =>
                                                   {
                                                       read.Action("CmbCityByCounty", "Landmark").Data("filterCity");
                                               })
                                                   .ServerFiltering(true);
                                           })
                                           .Enable(false)
                                           .AutoBind(false)
                                           .NoDataTemplate("Nu s-a gasit nici un oras pentru acest judet")
                                           .CascadeFrom("cmbCounty")
                                           .HtmlAttributes(new { id = "cmbCity" , style = "width: 100%" })
                                    )
                                    <script>
                                        function filterCity() {
                                            return {
                                                county: $("#cmbCounty").val()
                                            };
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Longitudine</p>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                            .Name("inputLandmarkName")
                                            .HtmlAttributes(new { id = "textBoxLong", type = "textbox", maxlength = "100" , style = "width: 100%"  })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Latitudine </p>
                                </td>
                                <td>
                                    @(Html.Kendo().TextBox()
                                            .Name("inputLandmarkName")
                                            .HtmlAttributes(new { id = "textBoxLat", type = "textbox", maxlength = "100", style = "width: 100%" })
                                    )
                                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAUUUUB62VO2kljdA7ooXvr5T90EMtg9Rg'></script><div style='overflow:hidden;height:400px;width:520px;'><div id='gmap_canvas' style='height:400px;width:520px;'></div>
                                    <style>
                                        #gmap_canvas img {
                                            max-width: none !important;
                                            background: none !important
                                        }
                                    </style></div> <a href='https://www.symptoma.ro/'>Symptoma</a>
                                    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=bf990d1187f88b49d7729dfba894413fe2a2deea'></script>
                                    <script type='text/javascript'>function init_map() { var myOptions = { zoom: 12, center: new google.maps.LatLng(44.4894413, 26.127059299999928), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(44.4894413, 26.127059299999928) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Global City Business</strong><br>Soseaua Bucuresti Nord 10,Voluntari<br>077190 Bucharest<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <!--#endregion -->
                    <div class="text-right">
                        <br />
                        <button type="button" class="k-button k-primary" onclick="cancel()">Anuleaza</button>
                        <button type="button" id="btnSaveEdit" class="k-button" onclick="editFunction()">Salveaza</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var currentURL = window.location.href;
    var url = new URL(currentURL);
    var landmarkId = url.searchParams.get("Id");
    var imgUrl;
    if (landmarkId == 0) {
        document.getElementById("LandmarkAddTitle").innerHTML = "<b> Adauga un nou  obiectiv</b>";//pageTitle

    } else {
        document.getElementById("LandmarkAddTitle").innerHTML = "<b>Editeaza obiectiv</b>";
         var data = $.ajax({
                type: 'GET',
                url: '/Landmark/GetLandmarkByIdEdit', 
                data: { landmarkId: landmarkId }, 
                cache: false,
                success: function (result) {
                    if (data.responseJSON != null) {
                        document.getElementById("textBoxLandmarkName").value = data.responseJSON.LandmarkName; 
                        document.getElementById("textAreaLandmarkShortDesc").value = data.responseJSON.LandmarkShortDescription;
                        document.getElementById("cmbLandmarkDetail").value = data.responseJSON.DictionaryItemId; 
                        document.getElementById("cmbAttraction").value = data.responseJSON.DictionaryAttractionTypeId;
                        document.getElementById("cmbAvailability").value = data.responseJSON.DictionaryAvailabilityId; 
                        document.getElementById("textBoxLong").value = data.responseJSON.Longitude;
                        document.getElementById("textBoxLat").value = data.responseJSON.Latitude; 
                        if (data.responseJSON.TicketId == null) { document.getElementById("checkTicket").checked = false; myFunction(); }
                        else
                        {
                            document.getElementById("trTicketCost1").style.visibility = "visible";
                            document.getElementById("trTicketCost1").style.position = "static";
                            document.getElementById("trTicketCost2").style.visibility = "visible";
                            document.getElementById("trTicketCost2").style.position = "static";
                            document.getElementById("trTicketCost3").style.visibility = "visible";
                            document.getElementById("trTicketCost3").style.position = "static";
                            var ticketdata = $.ajax({
                                type: 'GET',
                                url: '/Landmark/GetCurrencyTicketType', 
                                data: { ticketId: data.responseJSON.TicketId }, 
                                cache: false,
                                success: function (result)
                                {   document.getElementById("cmbCurrency").value = ticketdata.responseJSON.CurrencyId;
                                    $("#cmbCurrency").data("kendoComboBox").value(ticketdata.responseJSON.CurrencyId);
                                    document.getElementById("cmbTicketType").value = ticketdata.responseJSON.TicketTypeId;
                                    $("#cmbTicketType").data("kendoComboBox").value(ticketdata.responseJSON.TicketTypeId);
                                    $("#textBoxTicketCost").val(ticketdata.responseJSON.TicketPrice);
                                    return result
                                }
                            });

                        }
                         var countydata = $.ajax({
                                type: 'GET',
                                url: '/Landmark/CountyCityGetById', 
                                data: { txtCityId: data.responseJSON.DictionaryCityId },
                                cache: false,
                                             success: function (result)
                                             {
                                                  
                                                  var countrydata = $.ajax({
                                                    type: 'GET',
                                                    url: '/Landmark/CountryCountyGetById', 
                                                    data: { txtCountyId: countydata.responseJSON.CountyId},
                                                    cache: false,
                                                                 success: function (result)
                                                                 {
                                                                     document.getElementById("cmbCountry").value = countrydata.responseJSON.CountryId;
                                                                     $("#cmbCountry").data("kendoComboBox").value(countrydata.responseJSON.CountryId);
                                                                     document.getElementById("cmbCounty").value = countydata.responseJSON.CountyId;
                                                                     $("#cmbCounty").data("kendoComboBox").value(countydata.responseJSON.CountyId);
                                                                     document.getElementById("cmbCity").value = data.responseJSON.DictionaryCityId;
                                                                     $("#cmbCity").data("kendoComboBox").value(data.responseJSON.DictionaryCityId);
                                                                 }

                                                             })
                                             }
                                         })

                    }
                    else 
                    {
                        alert("Inregistrarea nu a fost gasita in baza de date!")
                        window.location.href = "/Landmark/Landmark";
                    }
                    return result;
                    }
                });
    }
    function myFunction() {
      var checkBox = document.getElementById("checkTicket");

        if (checkBox.checked == false)
        {
          document.getElementById("textBoxTicketCost").value = "";
          document.getElementById("trTicketCost1").style.visibility = "hidden";
          document.getElementById("trTicketCost1").style.position = "absolute";
          document.getElementById("trTicketCost2").style.visibility = "hidden";
          document.getElementById("trTicketCost2").style.position = "absolute";
          document.getElementById("trTicketCost3").style.visibility = "hidden";
          document.getElementById("trTicketCost3").style.position = "absolute";
        } else
        {
          document.getElementById("trTicketCost1").style.visibility = "visible";
          document.getElementById("trTicketCost1").style.position = "static";
          document.getElementById("trTicketCost2").style.visibility = "visible";
          document.getElementById("trTicketCost2").style.position = "static";
          document.getElementById("trTicketCost3").style.visibility = "visible";
          document.getElementById("trTicketCost3").style.position = "static";
      }
}
    function cancel() {

        var file_data = $("#imguploader").prop("files")[0];
        var form_data = new FormData();
        form_data.append("file", file_data);

        $.ajax({
                            type: 'POST',
                            url: '/Upload/Async_Remove',
                            data: { files: form_data },
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                        })
            
            window.location.href = "/Landmark/Landmark";
    }
    function editFunction()
    { 
                var checkBox = document.getElementById("checkTicket");
				lname = document.getElementById('textBoxLandmarkName').value;
                ldesc = document.getElementById('textAreaLandmarkShortDesc').value;
                if (checkBox.checked == true)
                {
                       var chk = 1;
                       tprice = document.getElementById('textBoxTicketCost').value;
                       tcurrencyid = document.getElementById('cmbCurrency').value;
                       ttickettypeid = document.getElementById('cmbTicketType').value;
                }
                else
                {
                    var chk = 2;
                }
                lditemid = document.getElementById('cmbLandmarkDetail').value;
                ldattractionid = document.getElementById('cmbAttraction').value;
				ldavailabilty = document.getElementById('cmbAvailability').value;
                llong = document.getElementById('textBoxLong').value;
                llat = document.getElementById('textBoxLat').value;
                ldcity = document.getElementById('cmbCity').value;
                if (lname == "" || ldesc == "" || llat == "" || llong == "" || document.getElementById('cmbLandmarkDetail').value == ""  || document.getElementById('cmbAttraction').value == ""   || document.getElementById('cmbAvailability').value == ""   || document.getElementById('cmbCity').value == "" ) 
                {

                        alert("Campuri necompletate!");
                    
                }
                else if (chk==1)
                { //chk 1 se introduce landmark complet cu bilet complet
                    if (document.getElementById('cmbCurrency').value == "" || document.getElementById('cmbTicketType').value == "" || document.getElementById('textBoxTicketCost').value == "") { alert("Campuri necompletate!"); }
                    else if (landmarkId == 0)
                    {//landmark nou
                        $.ajax({
                            type: 'POST',
                            url: '/Landmark/AddNewLandmark',
                            data: { landmarkName: lname, LandmarkShortDescription: ldesc, ticketPrice: tprice, currencyId: tcurrencyid, ticketTypeId: ttickettypeid, dictionaryItemId: lditemid, dictionaryAttractionTypeId: ldattractionid, dictionaryAvailability: ldavailabilty, cityId: ldcity, longit: llong, lat: llat },
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                        })

                       $(".k-upload-selected").click();

                        $.ajax({
                            type: 'POST',
                            url: '/Async/SaveUploadedImagesDB',
                            data: {lmkid: 3},
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                        })


                        //$(".k-upload-selected").click();

                        alert("Obiectiv salvat cu succes!");
                        window.location.href = "/Landmark/Landmark";

                    } else
                    {//landmark  cu bilet - edit cu bilet
                        $.ajax({
                            type: 'POST',
                            url: '/Landmark/LandmarkUpdate',
                            data: { landmarkId: landmarkId, landmarkName: lname, LandmarkShortDescription: ldesc, ticketPrice: tprice, currencyId: tcurrencyid, ticketTypeId: ttickettypeid, dictionaryItemId: lditemid, dictionaryAttractionTypeId: ldattractionid, dictionaryAvailability: ldavailabilty, cityId: ldcity, longit: llong, lat: llat },
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                        })
                        alert("Obiectiv editat cu succes!");
                        window.location.href = "/Landmark/Landmark";
                    }
                }
                else if (chk==2)
                {// chk 2 se introduce doar landmark
                    if (landmarkId == 0) {
                        $.ajax({
                            type: 'POST',
                            url: '/Landmark/AddNewLandmark2',
                            data: { landmarkName: lname, LandmarkShortDescription: ldesc, dictionaryItemId: lditemid, dictionaryAttractionTypeId: ldattractionid, dictionaryAvailability: ldavailabilty, cityId: ldcity, longit: llong, lat: llat },
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                        })
                           $(".k-upload-selected").click();
                        $.ajax({
                            type: 'POST',
                            url: '/Async/SaveUploadedImagesDB',
                            data: { lmkid: 3 },
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                    })
                        alert("Obiectiv salvat cu succes!");
                        window.location.href = "/Landmark/Landmark";
                    } else
                    {
                         $.ajax({
                            type: 'POST',
                            url: '/Landmark/LandmarkUpdate2',
                            data: { landmarkId: landmarkId, landmarkName: lname, LandmarkShortDescription: ldesc, dictionaryItemId: lditemid, dictionaryAttractionTypeId: ldattractionid, dictionaryAvailability: ldavailabilty, cityId: ldcity, longit: llong, lat: llat },
                            cache: false,
                            success: function (result) {
                                return result;
                            }
                        })
                        alert("Obiectiv editat cu succes!");
                        window.location.href = "/Landmark/Landmark";


                    }
                }
    }
    $("#textBoxTicketCost").on("keypress", function(evt) {
  var keycode = evt.charCode || evt.keyCode;
  if (keycode == 46) {
    return false;
  }
});

  </script>