<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>
        Cautare:
        @(Html.Kendo().TextBox()
        .Name("inputItemNameFilter")
        .HtmlAttributes(new { id = "inputTextbox", type = "textbox" })
        )

        @(Html.Kendo().Button()
            .Name("iconTextButton")
            .Tag("a")
            .Icon("filter")
            .Content("Filtreaza")
            .HtmlAttributes(new { id = "btnFilter", type = "button" })
            .Events(e => e.Click("refresh"))
        )

        @(Html.Kendo().Button()
                .Name("kendoIconTextButton")
                .Tag("a")
                .Icon("filter-clear")
                .Content("Sterge filtru")
                .HtmlAttributes(new { id = "btnResetFilter", type = "button" })
                .Events(e => e.Click("removeFilter"))
        )
    </p>

    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryLandmarkType>()
        .Name("LandmarkTypeGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ItemId).Hidden();
            columns.Bound(c => c.ItemCode);
            columns.Bound(c => c.ItemName);
            columns.Bound(c => c.Description);
            columns.Template("<a  class='k-button' href='/DictionaryLandmarkType/AddLandmarkDetails?Id=#=ItemId# '> Editeaza </a>").Width(150);
            columns.Command(command => { command.Destroy().Text("Sterge").HtmlAttributes(new { @class = "k-primary" }); }).Width(150);


        })
        .HtmlAttributes(new { id = "landmarkTypeGrid", style = "height: 550px;" })
        .Scrollable()
        //.Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))

            .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.ItemId))

            //CRUD
            .Read(read => read.Action("LandmarkType_Read", "DictionaryLandmarkType").Data("getFilter"))
            .Create(create => create.Action("LandmarkType_Create", "DictionaryLandmarkType"))
            .Update(update => update.Action("LandmarkType_QuickUpdate", "DictionaryLandmarkType"))
            .Destroy(destroy => destroy.Action("LandmarkType_Destroy", "DictionaryLandmarkType"))

            .PageSize(20)
        )
    )

    <p align="right"> <a href='/DictionaryLandmarkType/AddLandmarkDetails?Id=0' class="k-button k-primary">Adauga un nou tip de atractie</a></p>

    <script>

        getFilter = function () {
            var model = {};
            model["txtboxItemName"] = $("#inputTextbox").val();
            return model;
        }

        removeFilter = function () {
            $("#inputTextbox").val("");
            refresh();
        }

        refresh = function () {
            $("#landmarkTypeGrid").data("kendoGrid").dataSource.read();
            $("#landmarkTypeGrid").data("kendoGrid").dataSource.page(1);
        }


    </script>


</body>
</html>
