<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>
        Cod Bilet :
        @(Html.Kendo().TextBox()
          .Name("inputTicketTypeCodeFilter")
          .HtmlAttributes(new { id = "textBoxTicketTypeCode", type = "textbox" })
        )
        @(Html.Kendo().Button()
            .Name("iconTextButton")
            .Tag("a")
            .Icon("filter")
            .Content("Filtreaza")
            .HtmlAttributes(new { id = "btnFilter", type = "button" })
            .Events(e => e.Click("refresh"))
        )

        @(Html.Kendo().Button()
                .Name("kendoIconTextButton")
                .Tag("a")
                .Icon("filter-clear")
                .Content("Sterge filtre")
                .HtmlAttributes(new { id = "btnResetFilter", type = "button" })
                .Events(e => e.Click("removeFilter"))
        )

    </p>

    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryTicketType>()
        .Name("ticketgrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.TicketCode).Title("Cod bilet");
            columns.Bound(c => c.TicketName).Title("Denumire bilet");
            columns.Template("<a  class='k-button' href='/Ticket/TicketAdd?Id=#=TicketTypeId# '> Editeaza </a>").Width(150);
            columns.Command(command => { command.Destroy().Text("Sterge").HtmlAttributes(new { @class = "k-primary" }); }).Width(150);
            })
        .Editable(editable =>
                  {
                     editable.Mode(GridEditMode.InLine);
                     editable.DisplayDeleteConfirmation("Sunteti sigur ca doriti stergerea inregistrarii?");
                  })
            .HtmlAttributes(new { style = "height: 550px;" })
            .Scrollable()
            //< a href = "~/Views/Ticket/Ticket.cshtml" > ~/ Views / Ticket / Ticket.cshtml </ a >
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Sortable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("TicketTypeRead", "Ticket").Data("getFilter"))
            .Destroy(destroy => destroy.Action("TicketType_Destroy", "Ticket"))
            )
            )

    <script>

        getFilter = function () {
            var model = {};
            model["txtTicketTypeCode"] = $("#textBoxTicketTypeCode").val();
            return model;
        }

        removeFilter = function () {
            $("#textBoxTicketTypeCode").val("");
            refresh();
        }

        refresh = function () {
            $("#ticketgrid").data("kendoGrid").dataSource.read();
            $("#ticketgrid").data("kendoGrid").dataSource.page(1);
        }

    </script>
    <p align="right"> <a href='/Ticket/TicketAdd?Id=0' class="k-button k-primary">Adauga un nou tip de bilet</a></p>

</body>
</html>