<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Judete</title>
</head>
<body>
    @*<h1>Lista judete</h1>*@
    <h1>@ViewData["Title"]</h1>
    <p class="text-light">
        Nume judet:
        @(Html.Kendo().TextBox()
            .Name("inputCountyNameFilter")
            .HtmlAttributes(new { id = "inputTextbox", type = "textbox" })
        )

        Tara:
    @(Html.Kendo().ComboBox()
              .Name("countryFilter")
              .DataTextField("CountryName")
              .DataValueField("CountryId")
              .DataSource(source =>
              {

                      source.Read(read =>
                      {
                          read.Action("cmbCountry", "DictionaryCounty");
                  });
              })
              .HtmlAttributes(new { id = "cmbCountryFilter"/*, style = "width: 100%" */})
    )

        @(Html.Kendo().Button()
                .Name("iconTextButton")
                .Tag("a")
                .Icon("filter")
                .Content("Filtreaza")
                .HtmlAttributes(new { id = "btnFilter", type = "button" })
                .Events(e => e.Click("refresh"))
        )

        @(Html.Kendo().Button()
                .Name("kendoIconTextButton")
                .Tag("a")
                .Icon("filter-clear")
                .Content("Sterge filtru")
                .HtmlAttributes(new { id = "btnResetFilter", type = "button" })
                .Events(e => e.Click("removeFilter"))
        )
    </p>


   

    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryCounty>()
            .Name("CountyGrid")
            .Columns(columns =>
            {
                columns.Bound(c => c.CountyId).Hidden();
                columns.Bound(c => c.CountyName).Title("Judet");
                columns.Bound(c => c.CountryId).Hidden();
                columns.Bound(c => c.Country.CountryName).Title("Tara");
                columns.Template("<a  class='k-button' href='/DictionaryCounty/CountyAdd?Id=#=CountyId# '> Editeaza </a>").Width(150);
                columns.Command(command => { command.Destroy().Text("Sterge").HtmlAttributes(new { @class = "k-primary" }); }).Width(150);
            })
            .HtmlAttributes(new { id = "CountyGrid", style = "height: 550px;" })
            .Scrollable()
            .Editable(editable =>
            {
                editable.Mode(GridEditMode.InLine);
                editable.DisplayDeleteConfirmation("Sunteti sigur ca doriti stergerea inregistrarii?");
            })
            //.Groupable()
            //.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .Sortable()
            .Pageable()
            .DataSource(dataSource => dataSource

                .Ajax()
                .Events(e => e.Error("error"))
                .Model(model => model.Id(p => p.CountyId))
                .Read(read => read.Action("County_Read", "DictionaryCounty").Data("getFilter"))
                .Destroy(destroy => destroy.Action("County_Destroy", "DictionaryCounty"))
                .PageSize(10)
            )
    )

    <script>

        getFilter = function () {
            var model = {};
            model["txtboxCountyName"] = $("#inputTextbox").val();
            model["cmbboxCountryName"] = $("#cmbCountryFilter").val();
            return model;
        }

        removeFilter = function () {
            $("#inputTextbox").val("");
            $("#cmbCountryFilter").data("kendoComboBox").value("");
            refresh();
        }

        refresh = function () {
            $("#CountyGrid").data("kendoGrid").dataSource.read();
            $("#CountyGrid").data("kendoGrid").dataSource.page(1);
        }

        saveChanges = function () {
            grid = $("#CountyGrid").data("kendoGrid");
            grid.removeRow($(element).closest("tr"));
            grid.dataSource.sync();
        }

        function error(e)
        {
        alert("Tipul de judet nu poate fii sters deoarece este folosit de un obiectiv!")
        refresh();
         } 
    </script>
    <p align="right"> <a href='/DictionaryCounty/CountyAdd?Id=0' class="k-button k-primary">Adauga judet</a></p>
</body>
