<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Availability</title>

</head>
<body>
    <h1>@ViewData["Title"]</h1>


    @(Html.Kendo().Button()
        .Name("iconTextButton")
        .Tag("a")
        .Icon("filter")
        .Content("Filtreaza")
        .HtmlAttributes(new { id = "btnFilter", type = "button" })
        .Events(e => e.Click("refresh"))
    )

    @(Html.Kendo().Button()
            .Name("kendoIconTextButton")
            .Tag("a")
            .Icon("filter-clear")
            .Content("Sterge filtru")
            .HtmlAttributes(new { id = "btnResetFilter", type = "button" })
            .Events(e => e.Click("removeFilter"))
    )

    @(Html.Kendo().Button()
        .Name("kendoIconTextButton")
        .Tag("a")
        .Icon("save-changes")
        .Content("Salvare modificari")
        .HtmlAttributes(new { id = "btnSave", type = "button" })
        .Events(e => e.Click("saveChanges"))
    )


    @(Html.Kendo().TextBox()
        .Name("inputItemNameFilter")
        .HtmlAttributes(new { id = "inputTextbox", type = "textbox" })
    )

    <input type="button" value="Adaugare program" onclick="location.href='@Url.Action("Add", "DictionaryAvailability")'" />
    <input type="button" value="Modificare program" onclick="location.href='@Url.Action("Add", "DictionaryAvailability")'" />


    @(Html.Kendo().Grid<iWasHere.Domain.Models.DictionaryAvailability>()
        .Name("AvailabilityGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AvailabilityId);
            columns.Bound(c => c.AvailabilityName);
            columns.Bound(c => c.Schedule);

            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
            //columns.Template("<a class='k-button' href='~/DictionaryLandmarkType/AddLandmarkDetails'>Editeaza</a>").Width(150);
            //columns.Template("<a class='k-button k-primary' href='~/Home/Index'>Sterge</a>").Width(150);

        })
        .HtmlAttributes(new { id = "AvailabilityGrid", style = "height: 550px;" })
        .Scrollable()
        //.Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .ToolBar(toolbar =>
                    {
    toolbar.Create();
    toolbar.Save();
})
            .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.AvailabilityId))

            //CRUD
            .Read(read => read.Action("Availability_Read", "DictionaryAvailability").Data("getFilter"))
            .Create(create => create.Action("Availability_Create", "DictionaryAvailability"))
            .Update(update => update.Action("Availability_QuickUpdate", "DictionaryAvailability"))
            .Destroy(destroy => destroy.Action("Availability_Destroy", "DictionaryAvailability"))

            .PageSize(20)
        )
    )

    <p align="right"> <a href='/DictionaryAvailability/AddAvailability?Id=0' class="k-button k-primary">Adauga un nou tip de atractie</a></p>

    <script>

        getFilter = function () {
            var model = {};
            model["txtboxItemName"] = $("#inputTextbox").val();
            return model;
        }

        removeFilter = function () {
            $("#inputTextbox").val("");
            refresh();
        }

        refresh = function () {
            $("#AvailabilityGrid").data("kendoGrid").dataSource.read();
            $("#AvailabilityGrid").data("kendoGrid").dataSource.page(1);
        }

        saveChanges = function () {
            grid = $("#AvailabilityGrid").data("kendoGrid");
            grid.removeRow($(element).closest("tr"));
            grid.dataSource.sync();
        }

    </script>


</body>
</html>
